.labelMarker {
     color: black;
     border: 0px;
     border-color: none;
     background-color: none;
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 14px;
     font-weight: bold;
     text-align: center;
     white-space: nowrap;
   }
